{% extends 'base.html.twig' %}

{% block title %}Kontakty{% endblock %}

{% block body %}
<h1>Editace kontaktu</h1>
<a href="{{ path('app_contact_new') }}"><button>Nový kontakt</button></a>
<table border="1">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Poznámka</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        {% if contact.note is not empty %}
                            <button class="open-modal-btn">Zobrazit</button>
                            <div class="hidden-note">{{ contact.note }}</div>
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('app_contact_edit', {'name': contact.firstName ~ '-' ~ contact.lastName, 'id': contact.id}) }}">
                            <button>Upravit</button>
                        </a>
                        <a href="{{ path('app_contact_delete', {'identifier': contact.id}) }}">
                            <button>Smazat</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(contacts) }}
    </div>

{% include 'contact/modal.html.twig' %}
    
{% endblock %}
